@model Beeuzer.ViewModel.CarrinhoViewModel

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
