@model Beeuzer.Models.Produto

@{
    ViewBag.Title = "Caixa_Camisa";
}

<h2>Caixa_Camisa</h2>

<form>
    <select id=tamanho>
        <option value=""></option>
        <option value="P">P</option>
        <option value="M">M</option>
        <option value="G">G</option>
    </select>

    <select id=cor>
        <option value=""></option>
        <option value="neutro">Neutro</option>
        <option value="colorida">Colorida</option>
        <option value="misto">Misto</option>
    </select>
        <br><br>
    <div class="quantity">
        <button type="button" onclick="Diminuir()" id="min">-</button>
            <input id="valor" type="text" value="1" style="width: 25px" readonly="">
        <button type="button" onclick="Aumentar()" id="max">+</button>
    </div>
        <br><br>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Comprar" class="btn btn-default" id="Comprar" />
            <input type="submit" value="Adicionar ao carrinho" class="btn btn-default" id="AddCarrinho" />
        </div>
    </div>
</form>

<php>

</php>