@model Beeuzer.Models.Produto

@{
    ViewBag.Title = "Caixa_Camisa";
}

<h2>Caixa_Camisa</h2>

<form>
    <select id=tamanho>
        <option value=""></option>
        <option value="P">P</option>
        <option value="M">M</option>
        <option value="G">G</option>
    </select>

    <select id=cor>
        <option value=""></option>
        <option value="neutro">Neutro</option>
        <option value="colorida">Colorida</option>
        <option value="misto">Misto</option>
    </select>
</form>