@{
    ViewBag.Title = "Caixas";
}
<main>
    <section id="caixas_link">
        <div class="caixas">
            <a href="Caixa_Camisa">
                <div class="caixa_camisas">
                    <h1>Caixa de Camisas</h1>
                    <img class="img_camisa" src="">
                </div>
            </a>

            <a href="Caixa_Calsa">
                <div class="caixa_calsas">
                    <h1>Caixa de Calsas</h1>
                    <img class="img_calsa" src="">
                </div>
            </a>

            <a href="Caixa_Doacao">
                <div class="caixa_doacao">
                    <h1>Caixa para Doação</h1>
                    <img class="img_doacao" src="">
                </div>
            </a>
            <br>
    </section>

    <style>
        .caixas{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .caixas .img_camisa{
            width: 70px;
            height: 80px;
            margin-left: 130px;
            margin-top: 50px;
        }

        .caixas .img_calsa{
            width: 90px;
            height: 80px;
            margin-left: 130px;
            margin-top: 50px;
        }

        .caixas .img_doacao{
            width: 120px;
            height: 80px;
            margin-left: 130px;
            margin-top: 50px;
        }

        #caixas_link .caixas h1 {
            color: black;
            text-align: center;
            font-size: 25px;
            font-style: normal;
            padding-top: 25px;
            font-size: 30px;
            color: #FFFFFF;
        }

        .caixas .caixa_camisas {
            width: 350px;
            height: 550px;
            background: #CC78FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
        }

        .caixas .caixa_calsas {
            width: 350px;
            height: 550px;
            background: #CC78FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
        }

        .caixas .caixa_doacao {
            width: 350px;
            height: 550px;
            background: #CC78FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
        }

        .caixas a {
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            text-decoration: none;
        }
    </style>
</main>