@{
    ViewBag.Title = "Home";
}

<h2>
    Olá Seja Bem vindo(a) a loja da
    Beeüzer
</h2>
    <br /><br />

<img src="~/img/Home.jpeg" id="img" />

<style>
    body {
        background: linear-gradient(360deg, #673088 5%, #34029d 95%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    h2 {
        color: white;
    }

    #img {
        width: 100%;
        height: 60%;
    }
</style>